ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

li {
	float: right;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 15px 17px;
	text-decoration: none;
}

li a:hover {
	background-color: #112;
}

.center {
        float: left;
        display: block;
        color: white;
        text-align: center;
        padding: 15px 17px;
        text-decoration: none;
      }

.logo {
	float: left;
	padding: 15px 17px;
	  color: white;
}

.logo img {
	height: 22px;
	vertical-align: middle;
}